<!-- Footer -->
<footer class="bg-dark text-white py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4">
                <h5 class="mb-3">About Multi Tools</h5>
                <p>A collection of free online tools for developers, designers, and everyday users. Simple, fast, and efficient.</p>
            </div>
            <div class="col-md-4 mb-4">
                <h5 class="mb-3">Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white-50 text-decoration-none">Home</a></li>
                    <li><a href="#featured" class="text-white-50 text-decoration-none">Popular Tools</a></li>
                    <li><a href="#developer-tools" class="text-white-50 text-decoration-none">Developer Tools</a></li>
                    <li><a href="#design-tools" class="text-white-50 text-decoration-none">Design Tools</a></li>
                </ul>
            </div>
            <div class="col-md-4 mb-4">
                <h5 class="mb-3">Connect</h5>
                <div class="social-links">
                    <a href="#" class="text-white me-3"><i class="fab fa-github"></i></a>
                    <a href="#" class="text-white me-3"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="text-white"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
        </div>
        <hr class="my-4">
        <div class="row">
            <div class="col-md-6 text-center text-md-start">
                <p class="mb-0">&copy; 2024 Multi Tools. All rights reserved.</p>
            </div>
            <div class="col-md-6 text-center text-md-end">
                <p class="mb-0">Developed by Israr Ahmed</p>
            </div>
        </div>
    </div>
</footer> 