<footer class="bg-dark text-white py-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-3">
                <h5>About Multi-Tools</h5>
                <p>Your one-stop destination for online tools and utilities. We provide over 100 free tools to help you with your daily tasks.</p>
            </div>
            <div class="col-md-4 mb-3">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="/" class="text-white">Home</a></li>
                    <li><a href="#about" class="text-white">About Us</a></li>
                    <li><a href="#privacy" class="text-white">Privacy Policy</a></li>
                    <li><a href="#terms" class="text-white">Terms of Service</a></li>
                    <li><a href="#contact" class="text-white">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-md-4 mb-3">
                <h5>Connect With Us</h5>
                <div class="social-links">
                    <a href="#" class="text-white me-2"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="text-white me-2"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="text-white me-2"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="text-white me-2"><i class="fab fa-github"></i></a>
                </div>
            </div>
        </div>
        <hr class="my-4">
        <div class="row">
            <div class="col-md-6 text-center text-md-start">
                <p class="mb-0">&copy; 2024 Multi-Tools. All rights reserved.</p>
            </div>
            <div class="col-md-6 text-center text-md-end">
                <p class="mb-0">Made with <i class="fas fa-heart text-danger"></i> for developers</p>
            </div>
        </div>
    </div>
</footer> 